/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app
/storage/sample
/storage/input
/storage/tmp
/storage/logs
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
.DS_Store
packages/